<!DOCTYPE html>
<html>

<head>
  <title>Book App</title>
  <link rel="stylesheet" type="css/text" href="style.css">
  <link rel="stylesheet" href="../../../styles/base.css" type="text/css">

<body>
  </head>

  <body>
    <section class="container">
      <header>

        <div class="div2">
          <span style="cursor:pointer" onclick="openNav()">&#9776; </span>

          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" style="margin-bottom: 20px;" onclick="closeNav()">X</a>
            <a href="/">Home</a>
            <a href="/searches/new" >New</a>
          </div>


        </div>
        <div class="div1">
          <h2>Best Books!</h2>
        </div>
      </header>
    <main>
      <div>
        <h3 class="underHeader">Search Results</h3>
      </div>
      <div class="searchDiv">
            <% books.forEach( (book) => { %>
              <div class="imgDiv">
                <img class="bookImg" src="<%= book.image %>" />
                  <h2 class="bookTitle"><%= book.title %></h2>
                  <h3 class="bookAuthor"><%= book.author %></h3>
                  <p class="bookDescription"><%= book.description %></p>
                  <p class="isbn"> ISBN: <%= book.identifier %></p>

                  <form action="/selectbook" method="POST">
                    <button class="button"> Select This Book </button>
                  </form>
              </div>
            <% }); %>
      </div>
    </main>
    <footer></footer>
  </section>

  </body>
  <script src="../../../app.js"></script>
  </html>